#salmon{
 position: fixed; top: 300px; 
 margin-left: 10em;
 opacity: 30%;
 height: 35%;
}
#header{

  background-color: rgb(124, 126, 121);

}
 * {
  
  background-color: beige;
} */

#family{
   opacity: 25%;
   width: 25%;
  }

p {
  border: black;
  font-size: 2em;
}

#links{
  color: azure;
  font-size: x-large;
  
}
#paris {
  color: rgb(196, 119, 4);
  font-size: 5em;
  text-align: center;
  font-family: 'Oswald', sans-serif;
}
#dubai {
  color: rgb(196, 119, 4);
  font-size: 5em;
  text-align: center;
  font-family: 'Oswald', sans-serif;
}
#seattle{
  color: rgb(196, 119, 4);
  font-size: 5em;
  text-align: center;
  font-family: 'Oswald', sans-serif;
}
#tokyo{
  color: rgb(196, 119, 4);
  font-size: 5em;
  text-align: center;
  font-family: 'Oswald', sans-serif;
}
#lima{
  color: rgb(196, 119, 4);
  font-size: 5em;
  text-align: center;
  font-family: 'Oswald', sans-serif;
}
#table {
  background-color: rgb(143, 129, 109);
  size: 30em;
  border-radius: 2px;
  border: crimson;
  font-size: xx-large;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}
#td{
  border: green;
}
li {
  font-size: 2em;
  font-family: 'Oswald', sans-serif;
font-family: 'Comfortaa', cursive;
}
a {
  font-size: xx-large;
  text-align: right;
}
footer {
  font-family: Arial, Helvetica, sans-serif;
}

/* tr{
   background-color: blue;
  size: 30em; */

